<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav> 
  {{#if userInSession}}
  <a href="/auth/profile">PROFILE</a><br>
  <form action="/logout" method="post">
  <button>Logout</button>
  </form>

  {{else}}
  <a href="/auth/login">LOG IN</a>
  <a href="/auth/signup">SIGN UP</a>

  {{/if}}
  
</nav>

<div>
  <ul>
    <li><a href="/celebrities"> View list of celebs </a></li>
    <li><a href="/celebrities/create"> Add new celebrity </a> </li>
  </ul>
</div>

<div>
  <ul>
    <li><a href="/movies"> View list of Movies </a></li>
    <li><a href="/movies/create"> Add new movie </a> </li>
  </ul>
</div>

